background yes
gap_x 1920
use_xft yes
xftfont Bitstream Vera Sans Mono:size=9
xftalpha 0.8
update_interval 15.0
total_run_times 0
own_window yes
own_window_type normal
own_window_transparent yes
own_window_colour black
own_window_hints undecorated, below, sticky, skip_taskbar, skip_pager
#own_window_hints undecorated,skip_pager,skip_taskbar
double_buffer yes
minimum_size 260 5
draw_shades no
draw_outline no
draw_borders no
draw_graph_borders no
stippled_borders 0
border_width 0
default_color white
default_shade_color black
default_outline_color black
alignment top_right
gap_y 12
no_buffers yes
uppercase no
cpu_avg_samples 1
net_avg_samples 1
override_utf8_locale no
use_spacer right
alignment bottom_left  # top_right, top_left, bottom_left, bottom_right

TEXT
${font Verdana:style=Bold:size=16}${color #009bf9}${alignc}${time %a %d. %b %k:%M}
${exec journalctl UID=$UID -f -n 10}
