[Desktop Entry]
Type=Application
Exec=firefox -P Authenticated -no-remote
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Authenticated
Name=Firefox
Comment[en_US]=
Comment=
Icon=/usr/share/icons/Azenis-Green/scalable/apps/web-browser.png
Comment[en_US.UTF-8]=Authenticated
GenericName[en_US.UTF-8]=Weboffice
