[Desktop Entry]
Name=org-protocol
Exec=emacsclient -nw -c %u
Type=Application
Icon=emacs-icon
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
Name[en_US]=emacsclient
