[Desktop Entry]
Type=Application
Exec=firefox -P Weboffice -no-remote
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Firefox Weboffice
Name=Firefox
Comment[en_US]=
Comment=
Icon=/usr/share/icons/Azenis-Green/scalable/apps/web-browser.png
