[Desktop Entry]
Type=Application
Exec=firefox -P -no-remote
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Firefox
Name=Firefox
Comment[en_US]=
Comment=
Icon=/usr/share/icons/hicolor/48x48/apps/firefox.png
