[Desktop Entry]
Type=Application
Exec=firefox -P Friendlifox -no-remote
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Friendlifox
Name=Firefox
Comment[en_US]=
Comment=
