[Desktop Entry]
Name=Mutt
GenericName=Mutt
Comment=Mutt in term
Exec=start-on-workspace.sh 1 terminator -l mutt -p mutt -m -b 
Icon=/usr/share/pixmaps/mutt.xpm
Terminal=true
Type=Application
StartupNotify=false
OnlyShowIn=GNOME;XFCE;
Name[en_US]=Mutt
