[Desktop Entry]
Type=Application
Exec=terminator --new-tab --geometry=1366x730
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=terminator
Name=terminator
Comment[en_US]=
Comment=
Icon=/usr/share/icons/gnome-colors-common/32x32/apps/tilda.png
