[Desktop Entry]
Type=Application
Exec=terminator --geometry=1366x730 -e ~/scripts/start-terminator.sh &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=terminator
Name=terminator
Comment[en_US]=
Comment=
