[Desktop Entry]
Type=Application
Exec=sh -c "terminator --new-tab -p Xiki -T Xikiterm & firefox -P Xiki -no-remote"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Xiki terminator
Name=Xiki terminator
Comment[en_US]=xiki terminator and firefox
Comment=xiki terminator and firefox
Icon=/usr/share/icons/AwOken/clear/128x128/apps/x.png
