"*":
  "atom-beautify":
    apex:
      disabled: true
    arduino:
      disabled: true
    c:
      disabled: true
    cfml:
      disabled: true
    cpp:
      disabled: true
    crystal:
      disabled: true
    cs:
      disabled: true
    d:
      disabled: true
    elm:
      beautify_on_save: true
    executables:
      "elm-format":
        path: "/usr/bin/elm-format"
    fortran: {}
    general:
      analytics: false
      beautifyEntireFileOnSave: false
    glsl:
      disabled: true
    go:
      disabled: true
    haskell:
      disabled: true
    jade:
      disabled: true
    java:
      disabled: true
    marko:
      disabled: true
    nunjucks:
      disabled: true
    objectivec:
      disabled: true
    ocaml:
      disabled: true
    pawn:
      disabled: true
    puppet:
      disabled: true
    python:
      beautify_on_save: true
    r:
      disabled: true
    riot:
      disabled: true
    rust:
      disabled: true
    spacebars:
      disabled: true
    swig:
      disabled: true
    tss:
      disabled: true
    vala:
      disabled: true
    visualforce:
      disabled: true
    vue:
      disabled: true
  awiki: {}
  "bitbucket-issues":
    password: "whereisthisstored"
    username: "login@rosenstrauch.com"
  core:
    disabledPackages: [
      "bitbucket-issues"
      "language-generic-config"
      "elm-format"
      "autocomplete-python"
      "language-emacs-lisp"
      "linter-python-pep8"
      "php-debug"
      "python-debugger"
      "python-indent"
      "python-tools"
      "elm-navigator"
      "elm-instant"
    ]
    projectHome: "/mnt/DATA/DEV/AtomProjects/"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "elm-format":
    binary: "/usr/bin/elm-format"
    showNotifications: true
  "exception-reporting":
    userId: "4982a2a8-99a3-93f7-f892-69a13ce69d9c"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "language-elm": {}
  linter: {}
  "linter-checkbashisms": {}
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    gutterPosition: "Left"
    panelHeight: 71
    statusBarPosition: "Right"
    statusBarRepresents: "Entire Project"
  "markdown-mindmap": {}
  "markdown-preview": {}
  "markdown-writer": {}
  "merge-conflicts": {}
  metrics: false
  pigments: {}
  "project-quick-open":
    projectPaths: "/home/rosenstrauch/ProjectCollections"
  "project-ring":
    doNotSaveAndRestoreOpenProjectFiles: true
  welcome:
    showOnStartup: false
".elm.source":
  editor:
    autoIndentOnPaste: false
"linter-python-pep8":
  pep8DirToExecutable: "/usr/bin/"
welcome:
  showOnStartup: false
