"*":
  "atom-beautify":
    php:
      default_beautifier: "PHPCBF"
  "atom-ide-ui":
    use: {}
  core:
    disabledPackages: [
      "linter"
      "atom-ide-ui"
      "autocomplete-python"
      "docblockr"
      "elm-format"
      "elm-instant"
      "elm-navigator"
      "gherkin-autocomplete"
      "ide-json"
      "ide-php"
      "ide-python"
      "ide-standardjs"
      "ide-yaml"
      "jslint"
      "language-elm"
      "language-emacs-lisp"
      "language-generic-config"
      "mocha-test-runner"
      "php-debug"
      "php-twig"
      "project-manager"
      "python-debugger"
      "python-indent"
      "python-tools"
    ]
    telemetryConsent: "no"
  drupal:
    fileTypesPhp: "module,install,inc,test,profile"
  "exception-reporting":
    userId: "02527bb0-8e0f-48bc-a9c4-576f0e9b596f"
  github:
    automaticCommitMessageWrapping: false
  "linter-ui-default":
    panelHeight: 225
  welcome:
    showOnStartup: false
