'global':
  'metrics': false
  'exception-reporting':
    'userId': '1efb5cc8-a86b-9769-acbe-5035473f8e3c'
  'welcome':
    'showOnStartup': false
  'jekyll':
    'includesDir': 'app/_includes'
    'layoutsDir': 'app/_layouts'
  'core':
    'disabledPackages': [
      'atom-build'
      'atom-grunt-configs'
      'atom-grunt-runner'
      'behat-atom'
      'project-manager'
      'welcome'
      'feedback'
      'emmet-atom'
      'stacktrace'
      'atom-jshint'
      'timecop'
      'linter'
      'autosave'
      'background-tips'
      'bootstrap3-snippets'
      'dev-live-reload'
      'wrap-guide'
      'whitespace'
      'terminal-status'
      'terminal-runner'
      'open-on-github'
      'markdown-writer'
      'markdown-preview'
      'jekyll'
    ]
    'themes': [
      'atom-dark-ui'
      'base16-tomorrow-dark-theme'
    ]
  'editor':
    'showInvisibles': true
    'showIndentGuide': true
    'softWrapAtPreferredLineLength': true
  'drupal':
    'fileTypesPhp': 'module,install,inc,test'
  'project-ring':
    'projectToLoadOnStartUp': 'msf_at_profile'
'.drupal.source':
  'editor': {}
'.text.todo':
  'editor': {}
'.text.todotxt':
  'editor': {}
'exception-reporting':
  'userId': '2e5c55c1-120e-d137-8bdf-12d415546614'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '5afe01d925f56ca54ea8945b2cce677f8755be3a'
'drupal':
  'fileTypesPhp': 'module,install,inc,test'
'core':
  'disabledPackages': [
    'notebook'
  ]
