# Note: Such a unit file is planned for inclusion in Emacs 26.1, see emacs bug 16507.
# ~/.config/systemd/user/emacs.service
# @see https://wiki.archlinux.org/index.php/Emacs#As_a_systemd_unit
[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
