[Desktop Entry]
Name=Mutt
GenericName=Mutt
Comment=Mutt in term
Exec=terminator -l mutt -p mutt -m -b 
Icon=/usr/share/pixmaps/mutt.xpm
Type=Application
StartupNotify=false
OnlyShowIn=GNOME;XFCE;
Name[en_US]=Mutt
