[Desktop Entry]
Type=Application
Exec=sleep 2s && /usr/bin/atom
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=atom
Name=atom
Comment[en_US]=
Comment=
