[Desktop Entry]
Type=Application
Exec=sleep 10 && /usr/bin/conky --daemonize --pause=5 -c $HOME/.config/conky/conky_username
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
Name[en_IN]=Conky
Name=Conky
Comment[en_IN]=
Comment=
StartupNotify=false
Terminal=false
