[Desktop Entry]
Name=workflowy.com
Exec=epiphany --application-mode --profile="/home/rosenstrauch/.config/epiphany/app-epiphany-workflowy.com" https://workflowy.com/
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/rosenstrauch/.config/epiphany/app-epiphany-workflowy.com/app-icon.png
StartupWMClass=epiphany-workflowy.com
X-GNOME-Autostart-enabled=false
