[Desktop Entry]
Type=Application
Exec=terminator --new-tab -T friendlinux --geometry=1366x730 -m -b -s -p friendlinux
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=friendlinux terminator
Name=friendlinux terminator
Comment[en_US]=borderless fullsize
Comment=borderless fullsize
