[Desktop Entry]
Name=Personal File Sharing
Name[af]=Persoonlike lêerdeling
Name[an]=Compartición de fichers personals
Name[ar]=مشاركة الملفات الشخصية
Name[as]=ব্যক্তিগত ফাইলৰ অংশীদাৰী
Name[ast]=Compartición de ficheros personales
Name[be]=Супольны доступ да ўласных файлаў
Name[bg]=Споделяне на файлове
Name[bn]=ব্যক্তিগত ফাইল শেয়ারকরণ
Name[bn_IN]=ব্যক্তিগত ফাইলের যৌথ ব্যবহার
Name[br]=Rannadur restroù foran
Name[ca]=Compartició de fitxers personals
Name[ca@valencia]=Compartició de fitxers personals
Name[cs]=Sdílení osobních souborů
Name[da]=Personlig fildeling
Name[de]=Persönliche Dateifreigabe
Name[dz]=རང་དོན་གྱི་ཡིག་སྣོད་རུབ་སྤྱོད་འབད་ནི་
Name[el]=Κοινή χρήση προσωπικών αρχείων
Name[en@shaw]=𐑐𐑻𐑕𐑩𐑯𐑩𐑤 𐑓𐑲𐑤 𐑖𐑺𐑦𐑙
Name[en_CA]=Personal File Sharing
Name[en_GB]=Personal File Sharing
Name[eo]=Persona dosierkunhavigo
Name[es]=Compartición de archivos personales
Name[et]=Isiklike failide jagamine
Name[eu]=Fitxategi pertsonalak partekatzea
Name[fa]=به اشتراک‌گذاری شخصی پرونده
Name[fi]=Omien tiedostojen jako
Name[fr]=Partage de fichiers personnels
Name[fur]=Condivision file personai
Name[ga]=Comhroinnt Chomhad Pearsanta
Name[gd]=Co-roinneadh fhaidhlichean pearsanta
Name[gl]=Compartir ficheiros persoais
Name[gu]=ખાનગી ફાઈલ વહેંચણી
Name[he]=שיתוף קבצים אישי
Name[hi]=निजी फ़ाइल साझा
Name[hu]=Személyes fájlmegosztás
Name[id]=Berbagi Berkas Pribadi
Name[it]=Condivisione di file personali
Name[ja]=個人的なファイルの共有
Name[kk]=Жеке файлдармен бөлісу
Name[km]=ការ​ចែករំលែក​ឯកសារ​ផ្ទាល់ខ្លួន
Name[kn]=ವೈಯಕ್ತಿಕ ಕಡತ ಹಂಚಿಕೆ
Name[ko]=개인 파일 공유
Name[lt]=Asmeninių failų bendrinimas
Name[lv]=Personiskā datņu koplietošana
Name[ml]=സ്വകാര്യ ഫയല്‍ പങ്കിടല്‍
Name[mr]=वैयक्तिक फाइल सहभागीय करा
Name[nb]=Deling av personlige filer
Name[ne]=व्यक्तिगत फाइल साझेदारी
Name[nl]=Uw bestanden delen
Name[nn]=Personleg fildeling
Name[or]=ବ୍ୟକ୍ତିଗତ ଫାଇଲ ସହଭାଗ
Name[pa]=ਨਿੱਜੀ ਫਾਇਲ ਸਾਂਝ
Name[pl]=Współdzielenie osobistych plików
Name[pt]=Partilha de ficheiros pessoais
Name[pt_BR]=Compartilhamento de arquivos pessoais
Name[ro]=Partajare de fișiere personale
Name[ru]=Общий доступ к личным файлам
Name[sk]=Sprístupnenie osobných súborov
Name[sl]=Souporaba osebnih datotek
Name[sr]=Делење личних датотека
Name[sr@latin]=Delenje ličnih datoteka
Name[sv]=Utdelning av personliga filer
Name[ta]=அந்தரங்க கோப்பு பகிர்தல்
Name[te]=వ్యక్తిగత ఫైలు భాగస్వామ్యం
Name[tg]=Мубодилаи файлҳои шахсӣ
Name[th]=แบ่งปันแฟ้มส่วนตัว
Name[tr]=Kişisel Dosya Paylaşımı
Name[ug]=خۇسۇسىي ھۆججەت ھەمبەھىرى
Name[uk]=Спільний доступ до особистих файлів
Name[vi]=Chia sẻ tập tin cá nhân
Name[zh_CN]=个人文件共享
Name[zh_HK]=個人檔案分享
Name[zh_TW]=個人檔案分享
Comment=Launch Bluetooth ObexPush sharing if enabled
Comment[an]=Lanzar a compartición por ObexPush Bluetooth si ye activada
Comment[as]=সামৰ্থবান থাকিলে, ব্লুটুথ ObexPush অংশীদাৰী লঞ্চ কৰিব
Comment[bg]=Стартиране на споделянето на файлове, ако е позволено
Comment[ca]=Executa la compartició mitjançant el Bluetooth ObexPush si està habilitada
Comment[ca@valencia]=Executa la compartició mitjançant el Bluetooth ObexPush si està habilitada
Comment[cs]=Je-li povoleno, spustit sdílení přes Bluetooth ObexPush
Comment[da]=Start Bluetooth ObexPush-deling, hvis den er aktiveret
Comment[de]=Bluetooth-Freigabe über ObexPush starten, wenn aktiv
Comment[el]=Εκκίνηση κοινής χρήσης Bluetooth ObexPush, αν είναι ενεργοποιημένη
Comment[es]=Lanzar la compartición Bluetooth ObexPush si está activada
Comment[eu]=Abiarazi Bluetooth ObexPush partekatzea gaituta badago
Comment[fa]=اجرای به امکان اشتراک‌گذاری ObexPush بلوتوث در صورت فعال بودن
Comment[fi]=Käynnistä Bluetooth ObexPush -jako, jos käytössä
Comment[fr]=Lance le partage Bluetooth ObexPush s'il est activé
Comment[fur]=Fâs partî le condivision ObexPush Bluetooth se abilitade
Comment[gd]=Tòisich co-roinneadh le Bluetooth ObexPush ma tha seo an comas
Comment[gl]=Arrinca a compartición de Buetooth ObexPush se está activado
Comment[gu]=બ્લુટુથ ObexPush ભાગીદારીની શરૂઆત કરો જો સક્રિય હોય
Comment[he]=שיגור שיתוף בלוטות׳ ObexPush אם פעיל
Comment[hi]=Bluetooth ObexPush लॉन्च करें यदि सक्रिय किया गया है
Comment[hu]=Bluetooth ObexPush megosztás indítása, ha engedélyezett
Comment[id]=Luncurkan berbagi Bluetooth ObexPush jika diaktifkan
Comment[it]=Avvia la condivisione Bluetooth di ObexPush se abilitata
Comment[ja]=Bluetooth の ObexPush 共有機能を起動します (可能な場合)
Comment[kk]=Іске қосулы болса, Bluetooth ObexPush бөлісуді жөнелту
Comment[kn]=ಸಕ್ರಿಯಗೊಂಡಿದ್ದಲ್ಲಿ ಬ್ಲೂಟೂತ್ ObexPush ಹಂಚಿಕೆಯನ್ನು ಆರಂಭಿಸು
Comment[ko]=블루투스 ObexPush 공유를 시작합니다
Comment[lt]=Paleisti Bluetooth ObexPush viešinimą, jei įjungtas
Comment[lv]=Palaist Bluetooth ObexPush koplietošanu, ja tā ir ieslēgta
Comment[mr]=समर्थीत असल्यास ब्लुटुथ ObexPush शेअरिंग सुरू करा
Comment[nb]=Start Bluetooth ObexPush-deling hvis aktivert
Comment[or]=ଯଦି ସକ୍ରିୟ ଥାଏ ତେବେ ବ୍ଲୁଟୁଥ ObexPush ସହଭାଗକୁ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pa]=ਜੇ ਚਾਲੂ ਹੋਵੇ ਤਾਂ ਬਲਿਊਟੁੱਥ ObexPush ਸਾਂਝ ਚਲਾਓ
Comment[pl]=Uruchamia współdzielenie ObexPush przez Bluetooth, jeśli włączone
Comment[pt]=Inicia a partilha de ficheiros pessoais por Bluetooth ObexPush, se ativa
Comment[pt_BR]=Lança compartilhamento OpexPush Bluetooth se habilitado
Comment[ru]=Открыть общий доступ через Bluetooth ObexPush, если включено
Comment[sk]=Ak je povolené, spustí sprístupnenie prostredníctvom Bluetooth ObexPush
Comment[sl]=Zaženi podporo souporabe ObexPush, kadar je ta omogočena
Comment[sr]=Покрени дељење блутута обекс гурањем ако је укључено
Comment[sr@latin]=Pokreni deljenje blututa obeks guranjem ako je uključeno
Comment[sv]=Starta delning via Bluetooth ObexPush om aktiverat
Comment[ta]=செயல்படுத்தி இருந்தால் Bluetooth ObexPush பகிர்தலைத் துவக்கவும்
Comment[te]=చేతనపరిచివుంటే బ్లూటూత్ ObexPush పంచుకొనుటకు ఆరంభించుము
Comment[tr]=Eğer etkinse Bluetooth ObexPush paylaşımını başlat
Comment[uk]=Запустити оприлюднення Bluetooth ObexPush, якщо ввімкнено
Comment[vi]=Khởi chạy chia sẻ Bluetooth ObexPush nếu được bật
Comment[zh_CN]=如果已启用则启动蓝牙文件传输共享
Comment[zh_HK]=若啟用則執行 Bluetooth ObexPush 分享
Comment[zh_TW]=若啟用則執行 Bluetooth ObexPush 分享
Keywords=share;files;bluetooth;obex;http;network;copy;send;
Keywords[af]=deel;lêers;netwerk;kopieer;stuur;share;files;bluetooth;obex;http;network;copy;send;
Keywords[an]=compartir:fichers:bluetooth;obex;http;ret;copiar;ninviar;
Keywords[ar]=مشاركة;ملفات;بلوتوث;شبكة;نسخ;إرسال;
Keywords[as]=share;files;bluetooth;obex;http;network;copy;send;
Keywords[be]=супольны;рэсурс;bluetooth;obex;http;сетка;капіраванне;паслаць;пасылка;
Keywords[bg]=споделяне;файлове;блутут;обекс;мрежа;копиране;изпращане;share;files;bluetooth;obex;http;network;copy;send;
Keywords[ca]=comparteix;fitxers;bluetooth;obex;http;xarxa;copia;envia;
Keywords[ca@valencia]=comparteix;fitxers;bluetooth;obex;http;xarxa;copia;envia;
Keywords[cs]=sdílet;sdílení;bluetooth;obex;http;síť;kopírovat;kopírování;poslat;posílání;
Keywords[da]=dele;filer;bluetooth;obex;http;netværk;kopier;send;del;deling;
Keywords[de]=Freigabe;Dateien;bluetooth;obex;http;Netzwerk;kopieren;Transfer;
Keywords[el]=κοινή χρήση;αρχεία;bluetooth;obex;http;δίκτυο;αντιγραφή;αποστολή;
Keywords[eo]=kunhavigi;dosieroj;bludento;obex;http;reto;kopii;sendi;
Keywords[es]=compartir:archivos:bluetooth;obex;http;red;copiar;enviar;
Keywords[et]=jagamine;failid;faile;bluetooth;obex;http;võrk;kopeerimine;saatmine;saada;
Keywords[eu]=partekatu;fitxategiak;bluetooth;obex;http;sarea;kopiatu;bidali;
Keywords[fa]=اشتراک;پرونده‌ها;بلوتوث;obex;http;شبکه;رونوشت;ارسال;
Keywords[fi]=share;files;bluetooth;obex;http;network;copy;send;jaa;jako;tiedostot;verkko;kopioi;lähetä;
Keywords[fr]=partager;fichiers;bluetooth;obex;http;réseau;copier;envoi;envoyer;
Keywords[fur]=condividi;file;bluetooth;obex;http;rêt;copiâ;inviâ;
Keywords[gd]=share;files;bluetooth;obex;http;network;copy;send;co-roinneadh;faidhle;faidhlichean;lìonra;lethbhreac;cuir;cur;
Keywords[gl]=compartir;ficheiros;bluetooth;obex;http;rede;copiar;enviar;
Keywords[gu]=વહેંચવુ;ફાઇલો;બ્લુટુથ;ઑબેક્સ;http;નેટવર્ક;નકલ;મોકલો;
Keywords[he]=שיתוף;קבצים;בלוטות׳;רשת;העתקה;שליחה;בלוטות';
Keywords[hi]=share;files;bluetooth;obex;http;network;copy;send;
Keywords[hu]=megosztás;bluetooth;obex;http;hálózat;másolás;küldés;
Keywords[id]=share;files;bluetooth;obex;http;network;copy;send;berbagi;berkas;jaringan;salin;kirim;
Keywords[it]=condividere;file;bluetooth;obex;http;rete;copiare;inviare;
Keywords[ja]=share;files;bluetooth;obex;http;network;copy;send;共有;ファイル;ブルートゥース;ネットワーク;コピー;複製;送信;
Keywords[kk]=бөлісу;файлдар;bluetooth;obex;http;желі;көшіріп алу;жіберу;
Keywords[km]=ចែករំលែក;ឯកសារ;ប៊្លូធូស;obex;http;បណ្ដាញ;ចម្លង;ផ្ញើ;
Keywords[kn]=ಹಂಚು;ಕಡತಗಳು;ಬ್ಲೂಟೂತ್;obex;http;ಜಾಲಬಂಧ;ಪ್ರತಿ;ಕಳುಹಿಸು;
Keywords[ko]=share;공유;files;파일;bluetooth;블루투스;obex;http;network;네트워크;인터넷;copy;복사;send;보내기;
Keywords[lt]=dalintis;failai;bluetooth;obex;http;tinklas;kopijuoti;siųsti;
Keywords[lv]=koplietot;datnes;bluetooth;obex;http;tīkls;kopēt;sūtīt;
Keywords[ml]=share;files;bluetooth;obex;http;network;copy;send;
Keywords[mr]=शेअर;फाइल्स;ब्ल्युटूथ;ओबेक्स;http;नेटवर्क;कॉपी;सेंड;
Keywords[nb]=del;filer;bluetooth;obex;http;nettverk;kopier;send;
Keywords[nl]=delen;share;bestanden;bluetooth;obex;http;netwerk;kopie;kopiëren;verzenden;sturen;versturen;
Keywords[or]=ସହଭାଗ;ଫାଇଲ;ବ୍ଲୁଟୁଥ;ଓବେକ୍ସ୍‌;http;ନେଟୱର୍କ୍‌;ନକଲ;ପଠାନ୍ତୁ;
Keywords[pa]=ਸਾਂਝ;ਫਾਇਲਾਂ;ਸ਼ੇਅਰ;ਬਲਿਊਟੁੱਥ;ਨੈੱਟਵਰਕ;ਕਾਪੀ;ਭੇਜੋ;share;files;bluetooth;obex;http;network;copy;send;
Keywords[pl]=współdzielenie;pliki;plików;bluetooth;obex;http;sieć;skopiuj;kopia;wyślij;wysyłanie;
Keywords[pt]=partilha;ficheiros;bluetooth;obex;http;rede;copiar;enviar;
Keywords[pt_BR]=compartilhar;arquivos;bluetooth;obex;http;rede;copiar;enviar;
Keywords[ru]=доступ;файлы;bluetooth;obex;http;сеть;копировать;отправить;
Keywords[sk]=sprístupniť;súbory;bluetooth;obex;http;sieť;kopírovať;odoslať;
Keywords[sl]=souporaba;datoteke;bluetooth;obex;http;omrežje;kopiranje;pošiljanje;
Keywords[sr]=дели;датотеке;блутут;обекс;хттп;мрежа;умножи;пошаљи;
Keywords[sr@latin]=deli;datoteke;blutut;obeks;http;mreža;umnoži;pošalji;
Keywords[sv]=dela;filer;bluetooth;blåtand;obex;http;nätverk;kopiera;skicka;
Keywords[ta]=share;files;bluetooth;obex;http;network;copy;send;
Keywords[te]=share;files;bluetooth;obex;http;network;copy;send;
Keywords[tg]=мубодила кардан;файлҳо;bluetooth;obex;http;шабака;нусха бардоштан;фиристодан;
Keywords[tr]=paylaş;dosyalar;bluetooth;obex;http;ağ;kopyala;gönder;
Keywords[ug]=share;files;bluetooth;obex;http;network;copy;send;ھەمبەھىر;ھۆججەتلەر;كۆكچىش;تور;كۆچۈرۈش;ئەۋەتىش;
Keywords[uk]=оприлюднити;файли;блютуз;obex;http;мережа;копіювати;надіслати;
Keywords[vi]=share;chia;sẻ;se;files;tập;tin;tap;tin;bluetooth;obex;http;network;mạng;mang;copy;chép;chep;send;gửi;gui;
Keywords[zh_CN]=share;files;bluetooth;obex;http;network;copy;send;共享;文件;蓝牙;网络;复制;发送;
Keywords[zh_HK]=share;files;bluetooth;obex;http;network;copy;send;分享;檔案;藍牙;網絡;複製;傳送;
Keywords[zh_TW]=share;files;bluetooth;obex;http;network;copy;send;分享;檔案;藍牙;網路;複製;傳送;
AutostartCondition=GSETTINGS org.gnome.desktop.file-sharing bluetooth-obexpush-enabled
Icon=folder-remote
Exec=/usr/lib/gnome-user-share/gnome-user-share-obexpush
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=false
