[Desktop Entry]
Type=Application
Exec=gnome-terminal lynx
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Lynx
Name=Lynx
Comment[en_US]=Lynx in Term
Comment=Lynx in Term
