[Desktop Entry]
Type=Application
Exec=start-on-workspace.sh 2 terminator -l multitail -p multitail -m -b --geometry=1366x730
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=multitail4
Name=multitail
Comment[en_US]=multitail on last desktop
Comment=multitail on last desktop
