[Desktop Entry]
Type=Application
Exec=~/scripts/start-on-workspace 2 terminator --geometry=200x200+0+0
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=t2
Name=t2
Comment[en_US]=terminal on workspace 2
Comment=terminal on workspace 2
