[Desktop Entry]
Type=Application
Exec=terminator --new-tab  -T Develop
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=terminator2
Name=t2
Comment[en_US]=terminal on workspace 2
Comment=terminal on workspace 2
