[Desktop Entry]
Type=Application
Exec=start-on-workspace.sh 2 terminator --geometry=1366x730
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=terminator2
Name=t2
Comment[en_US]=terminal on workspace 2
Comment=terminal on workspace 2
