[Desktop Entry]
Type=Application
Exec=start-on-workspace.sh 1 terminator -l Xiki -p Xiki --geometry=1366x730
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xiki
Name=t2
Comment[en_US]=xiki on workspace 2
Comment=xiki on workspace 2
